.navbar {
    background: #fff;
}
.navbar-brand {
    h1 {
        color: #333;
      span{
            color: #666;
        } 
    }
}

.nav-item{
    .nav-link {
        font : {
            size: 22px;
            weight: 600;
        }
        color: #666 !important;
        &:hover ,
        &.active{
         color: pink !important;
      }
    }
}
.icons {
    i {
        color: #666;
        cursor: pointer;
        &:hover {
            color: #ee8d8d;
        }
    }
}