/* custom scroll bar */
::-webkit-scrollbar {
    width: 0.5rem;
    background:#E3E6F3;
  }
  ::-webkit-scrollbar-thumb {
    width: 0.5rem;
    background:#088178 ;
    border-radius: 5rem;
  }
.text {
    h1 {
        color: #666;
       span{
        color: #333;
       } 
    }
}
.about-vid {
    background: #fff;
    position: relative;
    video {
        padding: 15px 5px; 
    }
    h3 {
        font-weight: 700;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 2%;
        background: #fff;
        width: 96%;
        text-align: center;
        padding: 10px 0;
    }
}
.about-text {
    .btn {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        background: #333;
        border-radius: 3rem;
        padding: 8px 40px;
        transition: 0.2s all linear;

        &:hover{
            background: #ee8d8d;
        }
    }
}

.about-icon  {
    background: #eee;
    height: 40vh;
    margin-top: 5rem;

    .about-text {
        color: rgb(113, 89, 93);
        background: #fff;
        padding: 10px 20px;
        border-radius: .5rem;
        cursor: pointer;
        transition: 0.2s all linear;
        &:hover {
            transform: translateY(-10px);
        }
 }
}